# ignore student repos so they don't fill up my own repo
student_repos/Bibisha_Acharya
student_repos/Caroline_Phillips
student_repos/Christopher_Tillotson
student_repos/Chunyang_Cao
student_repos/Hannah_Sweazey
student_repos/Ian_Cullicott
student_repos/Ihsan_Amin
student_repos/Israt_Farah
student_repos/Joseph_Blenke
student_repos/Katherine_Lenshin
student_repos/Krishna_Swaminathan
student_repos/Madeline_Eibner-Gebhardt
student_repos/Matthew_Mellors
student_repos/Pranjali_Gupta
student_repos/Samuel_Harrington
student_repos/Sarah_Hendricks
student_repos/Sheoli_Lele
student_repos/Sierra_Lannan
student_repos/Thomas_Felton
student_repos/Valentina_Rozo
student_repos/Vandana_Kalithkar
student_repos/William_Stanziano
student_repos/Wyatt_Travers
student_repos/James_Slone/
student_repos/Paulina_Skurzak/
